<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-05-web-jsp:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot_05_web_jsp_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springboot-05-web-jsp/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-05-web-jsp" />
        </element>
      </element>
    </root>
  </artifact>
</component>